
  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    /* background-color: red; */
    background-color: rgb(218, 211, 211);
    /* width: 340px; */
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    position: absolute;
    transition: transform 0.3s ease-in;
}
.sidebar nav{
    padding: 50px;
}
 .sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding-top: 37px;
    padding-bottom: 0px;
 }
 .sidebar nav li a{
   text-decoration: none;
   color: rgb(37, 3, 43);
   
 }
 body{
    background-color: black;
 }
.main{
  /* background-color:rgb(0, 0, 0); */
  width: 95vw;
}
.container{
    display: flex;
}
.infocontainer{
    /* background-color: rgb(28, 94, 133); */
    height: 55vh;
    width: 80vw;
    margin: 140px auto;
    display: flex;
    justify-content: space-around;
    /* flex-wrap:wrap; */

}
.devpic img{
    width:253px ;
    height: 55vh;
}
.devinfo{
    font-size: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 4em;
    color: white;
    
}
.name{
    /* font-size: 45px; */
    font-size: 3em;
    /* font-weight:bolder; */
    color:rgb(117, 19, 117);
    /* color: white; */
    font-family: 'Fira Sans', sans-serif;
    
}
.about{
    font-size: 2.7em;
    color: whitesmoke;
}
.Moreabout{
    font-size: 2.5em;
    margin-top: 12px;
    font-family: 'Fira Sans', sans-serif;
     color: whitesmoke;
     /* font-weight: 100; */
    


}
.btn{
    margin-top: 2.2em;
    font-size: 16px;
}

.btn button{
    padding: 8px 8px;
    border-radius: 11px;
    color: white;
    background-color: rgb(132 60 148);
    font-weight: bold;
    font-size: 2em;
    margin:3px 3px ;
    cursor: pointer;
}
.btn button:hover{
    background-color: rgb(171, 66, 185);
    

}

.btn-sm{
    font-size: 17px;
    /* background-color: rgb(255, 126, 255); */
   width: 93px;
    height: 30px;
    border-radius: 14px;
    background: rgb(59, 63, 130);
    
    color: white;
   
    
}
.btn-sm:hover{
    background-color:rgb(106, 26, 116);
    
}

.Contactform{
    padding: 0 24px;
    /* padding-top: 100px; */
    margin: 88px ;
    color: whitesmoke;

}
.Contactform h1{
    font-family: 'Source Code Pro', monospace;
    /* text-align: center; */

}
.Contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;

   

}
.Contactform form{
    margin: 0 40px;
 
}
.Contactform form div input{
    border-radius: 6px;
    font-size: 20px;
    /* width: 18vw; */
    margin: 6px 0 0 0;
    padding: 2px;
    
   

}
.Contactform div .form-text{
    font-size: 12px;
    color:rgb(159, 11, 176);
    margin: 0 5px;
    padding: 3px 0 0 0;
  
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width: 15px;
    margin: 4px 0;

}
.blogcontainer{
    margin:88px;
    color: whitesmoke;
}
.blogitem{
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
}
.blogcontainer h1{
    font-family: 'Source Code Pro', monospace;
    margin: 22px;
    color: violet;
  
}
.blogitem p{
    font-family: 'Source Code Pro', monospace;
}
.intro{
    margin: 100px;
    color:  whitesmoke;
}
.intro h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;


}
.intro p{
font-family: 'Source Code Pro', monospace;
margin: 12px;
}
.skillcontainer{
    padding: 12px;
}
.skillitem{
    display: flex;
    align-items: center ;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    
}

element.style {
    height: 0 6px;
}
.skill {
    width: 198px;
    background-color: red;
    border: 2px solid black;
    height: 8px;
    margin-top: 3px;

}
.hundred{
    width: 198px;
    background-color:red;
    border: 2px solid black;
}
.fifty{
    width: 190px;
    background-color: rgb(152, 58, 152);
    border: 2px solid black;
} 
.twenty{
    width: 140px;
}
.t5{
    width: 75px;
    background-color: yellow;
    border: 2px solid black;
}

/* projects sec */
 .h-primary{
    font-size: 2rem;
    padding: 12px;
    /* color: black; */
    align-items: center;
    justify-content: center;
}
.h-secondary{
    font-size: 1.5rem;
    padding: 12px;
    color: rgb(20, 13, 13);
    align-items: center;
    justify-content: center;
}
#projects{
    margin: 21px;
    display: flex;
    flex-direction: column;
}
 .box{
    border: 2px solid rgb(0, 0, 0);
    padding: 6px;
    margin: 3px 5px;
    border-radius: 15px;
    background-color: rgb(124, 122, 122)

    
}
  .box img{
  width: 257px;
   margin: auto;
   display: block;
   border-image: 20px;
}
.sidebargo{
        
    transform: translate(-440px,30px);
    position: absolute;
    
}



.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px; ;
    left: 10px;

}
.ham{
    margin-top: 10px;
    margin-left: 10px;

}
.cross{
    margin-left: 145px;
    margin-top: 10px;
}
@media(max-width:1160px) {
    *{
        /* background-color: red; */
    }
  .box img{
    width:210px;
  }
    .devpic{
        display: none;
    }
   .btn{
    font-size: 5px;
   }
    }
    
     .intro, .blogcontainer,.Contactform{
        margin:50px 40px;
     }
    /* snow sec */
    .snow, .snow::after, .snow::before{
        content: "";
        position: absolute;
        top: -70px;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: 
        radial-gradient(4px 4px at 100px 50px, #fff
        , transparent),
        radial-gradient(6px 6px at 200px 150px, #fff
        , transparent),
        radial-gradient(3px 3px at 300px 250px, #fff
        , transparent),
        radial-gradient(4px 4px at 400px 350px, #fff
        , transparent),
        radial-gradient(6px 6px at 500px 100px, #fff
        , transparent),
        radial-gradient(3px 3px at 50px 200px, #fff
        , transparent),
        radial-gradient(4px 4px at 150px 300px, #fff
        , transparent),
        radial-gradient(6px 6px at 250px 400px, #fff
        , transparent),
        radial-gradient(3px 3px at 350px 500px, #fff
        , transparent);
        background-size:650px 650px ;
    
        animation: snowAnim 5s linear;
        animation-iteration-count: infinite;
    }
    .snow::after{
        margin-left: -250px;
        opacity: 0.5;
        filter: blur(2px);
        animation-direction:reverse ;
        animation-duration: 20s;
        

    }
    .snow::before{
        margin-left: -300px;
        opacity: 0.7;
        filter: blur(1px);


    }
    @keyframes snowAnim{
        from{
            transform: translateY(0);
        }
        to{
            transform: translateY(650px);
        }
    }


